body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerinicio{
    width: auto;
    text-align: center;
    background-color: #b0ddfc;
    text-decoration: none;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.containerinicio .logoImg {
    margin-top: 25px;
    width: 160px;
}

.containerinicio .Acontatos{
    margin: 0px 8px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
}

.containerBanner {
    text-align: center;
}

.containerBanner .bannerImg {
    width: 1200px;
}

.containerDescription, .containerMembers {
    text-align: center;
    width: 1000px;
    margin: 50px auto;
}

h1 {
    padding-top: 15px;
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 0px;
    font-weight: normal;
    font-size: 20px;
    color: #1d80c1;
}

.containerDescription .houseImg, .containerMembers .imgMembers{
    width: 450px;
}

.containerDescription .pDescription, .containerMembers .pMembers {
    text-align: justify;
    line-height: 25px;
}

.pDescription span {
    color: #2596be;
    font-weight: bold;
}

.containerService, .containerContacts {
    width: auto;
    background-color: #1d80c1;
    text-align: center;
}

h3 {
    padding-top: 60px;
    padding-bottom: 10px;
    color: white;
    font-size: 25px;
}

.containerService .pService {
    width: 700px;
    margin: 0px auto;
    color: white;
    line-height: 35px;
    font-size: 19px;
    margin-bottom: 35px;
}

.pService span {
    font-weight: bold;
    color: yellow;
}

.List {
    width: 100px;
    margin: 0px auto;
    text-align: justify;
    color: white;
    padding-bottom: 50px;
    font-size: 18px;
}

.List .item{
    margin: 15px;
}

.containerMembers h3 {
    padding-top: 10px;
    color: #1d80c1;
}

.containerContacts {
    margin-bottom: 0px;
    padding-bottom: 30px;
    height: auto;
}

iframe {
    height: 350px;
    width: 900px;
}

.containerContacts .pContacts {
    background-color: black;
    color: white;
    padding: 15px 1px;
    width: 1000px;
    margin: 30px auto;
}

.pContacts span {
    color: yellow;
    font-weight: bold;
}

.containerContacts .ListContacts {
    font-size: 15px;
    margin: 0px auto;
    text-align: center;
}

.ListContacts .item {
    margin: 20px 0px;
    padding: 0px;
    padding-left: 0px;
    
}

.item a {
    padding: 4px;
    border-radius: 3px;
    background-color: white;
    color: #1d80c1
}
